In [114]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
pymoli_file = os.path.join("..", "HeroesofPymoli", "purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
pymoli_df = pd.read_csv(pymoli_file)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [115]:
unique_players = pymoli_df["SN"].nunique()
pd.DataFrame({"Number of Players": [unique_players]})

   Number of Players
0                576

In [116]:
unique_items = pymoli_df["Item ID"].nunique()
pd.DataFrame({"Unique Items": [unique_items]})

   Unique Items
0           179

In [117]:
avg_price = pymoli_df["Price"].mean()
avg_price

3.050987179487176

In [118]:
total_purchases = pymoli_df["Item ID"].count()
total_purchases

780

In [119]:
total_revenue = pymoli_df["Price"].sum()
total_revenue

2379.77

In [120]:
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                                   "Average Price": [avg_price],
                                   "Number of Purchases": [total_purchases],
                                   "Total Revenue": [total_revenue]})
purchasing_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [121]:
drop_duplicates = pymoli_df[["Gender", "Age", "SN"]].drop_duplicates()
drop_duplicates

     Gender  Age             SN
0      Male   20        Lisim78
1      Male   40    Lisovynya38
2      Male   24     Ithergue48
3      Male   24  Chamassasya86
4      Male   23      Iskosia90
..      ...  ...            ...
773    Male   21         Hala31
774    Male   11     Jiskjask80
775  Female   21     Aethedru70
777    Male   20     Yathecal72
778    Male    7        Sisur91

[576 rows x 3 columns]

In [122]:
gender_counts = drop_duplicates["Gender"].value_counts()
gender_counts

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [123]:
percentageof_players = gender_counts/unique_players*100
percentageof_players

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [124]:
pd.DataFrame({"Total Count": gender_counts, "Percentage of Players": percentageof_players})

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

In [125]:
groupby_gender = pymoli_df.groupby(["Gender"])
groupby_gender.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [126]:
purchase_value = groupby_gender.sum()["Price"]
purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [127]:
purchase_count = groupby_gender.count()["Purchase ID"]
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [128]:
avg_purchaseprice = groupby_gender.mean()["Price"]
avg_purchaseprice

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [129]:
avg_totalperperson = purchase_value/gender_counts
avg_totalperperson

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [130]:
purchasing_analysis_gender = pd.DataFrame({"Purchase Count": purchase_count,
                                  "Average Purchase Price": avg_purchaseprice,
                                    "Total Purchase Value": purchase_value,
                                   "Avg Total Purchase per Person": avg_totalperperson})
purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [131]:
bins = [0,9,14,19,24,29,34,39,100]
group_names =["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [132]:
pymoli_df["Age Range"] = pd.cut(pymoli_df["Age"], bins, labels=group_names)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [136]:
age_groups = pymoli_df.groupby("Age Range").nunique()
age_groups

           Purchase ID   SN  Age  Gender  Item ID  Item Name  Price  Age Range
Age Range
<10                 23   17    3       2       21         21     21          1
10-14               28   22    5       2       24         24     24          1
15-19              136  107    5       3       96         96     83          1
20-24              365  258    5       3      163        163    135          1
25-29              101   77    5       3       78         78     73          1
30-34               73   52    5       2       60         60     56          1
35-39               41   31    5       3       37         37     34          1
40+                 13   12    6       2       13         13     13          1

In [143]:
percentage_of_players = age_groups["SN"]/[unique_players]*100
percentage_of_players

Age Range
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: SN, dtype: float64

In [150]:
age_demographics_df = pd.DataFrame({
                                   "Total Count": age_groups["SN"],
                                   "Percentage of Players": percentage_of_players})
age_demographics_df

           Total Count  Percentage of Players
Age Range
<10                 17               2.951389
10-14               22               3.819444
15-19              107              18.576389
20-24              258              44.791667
25-29               77              13.368056
30-34               52               9.027778
35-39               31               5.381944
40+                 12               2.083333

In [154]:
avg_purchase_perperson = age_groups["Price"]/age_groups["SN"]
avg_purchase_perperson

Age Range
<10      1.235294
10-14    1.090909
15-19    0.775701
20-24    0.523256
25-29    0.948052
30-34    1.076923
35-39    1.096774
40+      1.083333
dtype: float64

NameError: name 'Purchasing' is not defined

In [157]:
age_groups1 = age_groups['Purchase ID']

KeyError: 'Purchase ID'